.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  background: rgb(113, 228, 228);
}
.map{
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
 
}